header{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
}

.header{
    display: flex;
    width: 50%;
    height: 10vh; 
    justify-content: center;  
}

.logo{
    display: flex;
    color: red;
    font-weight: bold;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    
}
.logo span{
    color: yellow;
}


.redes-sociais{
    width: 60%;
    display: flex;
}

.icon{
    padding: 10px;
}

.telefone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.telefone p{
    font-size: 10px;
}

.localizacao{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.localizacao p{
    font-size: 10px;
}

.email{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.email p{
    font-size: 10px;
}

