nav{
    margin: 40px auto;
    position: absolute;
}

.navegacao{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border-radius: 50px;
    margin: 10px;
}

.navegacao ul li{
    display: inline;
    padding: 20px;

}